<div class="dropdown" id="dropdown-first">
    <label for="activity" class="lbl-filter">{{_('Aktiviteti:')}}</label><br>
    <button style="background-color: #fff;font-weight: 600;" class="btn btn-dropdown dropdown-toggle" type="button" id="dropdown-menu-first" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="selected-value"></span>
        &nbsp;
    </button>
    <input type="text" id="searchActivityInput" class="search-activities-dropdown-input" onkeyup="searchActivity()" placeholder="{{_('K&euml;rko aktivitetin...')}}" autocomplete="off" autofocus>
    <ul class="dropdown-menu acts activity-ul-dropdown" name="activity" id="activity_val" aria-labelledby="dropdown-menu-first">
        {% for i in activities%}
        <li class="acts-li"><a href="javascript:onActivitySelection('{{ i['activity'][g.current_lang] }}')">
            {% if i['code']|length == 3 %}
                0{{ i['code'] }}
            {% else %}
                {{i['code']}}
            {% endif %}
             - {{ i['activity'][g.current_lang] }}</a></li>
        {% endfor %}
    </ul>
</div>
<div class="dropdown" id="dropdown-second" style="margin-left: 10px">
    <label for="status" class="lbl-filter" style="display: inline !important;">{{_('Gjinia e pronarit:')}}</label><br>
    <button class="btn btn-dropdown dropdown-toggle" type="button" id="dropdown-menu-second" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="selected-value-gender" style="font-weight: 600;"></span>
        &nbsp;
    </button>
    <ul class="dropdown-menu acts" name="owner_gender" id="owner_gender" style="max-width:290px; width: 290px;" aria-labelledby="dropdown-menu-second">
        <li><a href="javascript:onGenderSelection('{{_('T&euml; gjitha')}}')">{{_('T&euml; gjitha')}}</a></li>
        <li><a href="javascript:onGenderSelection('{{_('Fem&euml;r')}}')">{{_('Fem&euml;r')}}</a></li>
        <li><a href="javascript:onGenderSelection('{{_('Mashkull')}}')">{{_('Mashkull')}}</a></li>
        <li><a href="javascript:onGenderSelection('{{_('Panjohur')}}')">{{_('Panjohur')}}</a></li>
    </ul>
</div>
<div id="activityYearsLoader">
    {% include 'preLoader.html' %}
</div>
<div id="container9" style="min-width: 100%; height: 400px; margin: 0 auto"></div>
<script src="{{url_for('static', filename='js/charReplace.js')}}"></script>
<script>
function searchActivity() {
    // Declare variables
    var input, filter, ul, li, a, i, aa;
    input = document.getElementById('searchActivityInput');
    filter = input.value.toUpperCase();
    ul = document.getElementById("activity_val");
    li = ul.getElementsByClassName('acts-li');

    // Loop through all list items, and hide those who don't match the search query
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        if (filter.length > 1) {
            var charA = replaceChars(a.innerHTML.toUpperCase());
            if (charA.indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }else {
            li[i].style.display = "block";
        }
    }
}
</script>
