<div class="col-xs-12 col-sm-12 col-md-4 form-group">
    <button type="button" id="lastyear" value="1" class="btn btn-default btn-filter-data" style="border-color: #ccc !important;">{{_('Vitin e fundit')}}</button>
</div>
<div class="col-xs-12 col-sm-12 col-md-4 form-group">
    <button type="button" id="last5years" value="5" class="btn btn-default btn-filter-data" style="border-color: #ccc !important;">{{_('5 vitet e fundit')}}</button>
</div>
<div class="col-xs-12 col-sm-12 col-md-4 form-group">
    <button type="button" id="last10years" value="10" class="btn btn-default btn-filter-data" style="border-color: #ccc !important;">{{_('10 vitet e fundit')}}</button>
</div>
<div id="topRecentActivitiesLoader">
    {% include 'preLoader.html' %}
</div>
<div id="container10" style="min-width: 100%; margin-top:30px !important; height: 400px; max-width: 100%; margin: 0 auto"></div>

<img id="containerImg" />
